# Ignore the following type of files
*.swp

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# NetCDF binary files
*.nc*

# Distribution / packaging
.Python
build*/
install*/

# Figures in any format
*.png
*.jp*g
*.eps
*.pdf
*.tiff
